*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*start main*/
body{background-color:#fff;}
.contenier{
    width:1200px ;
    margin: auto;
}
/*end main*/
/*start header*/
.background-img{
    min-height: 800px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}
.cover{
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 800px;
}
.logo{
    color: white;
    float: left;
    padding-left: 6%;
    padding-top: 3%;

}
.nav-bar{
    float: right;
    margin-right: 10%;
    padding-top: 3%;
}
.link{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 20px;
   padding-left: 30px;
}
.para{
    text-align: center;
    color: white;
    padding-top: 20%;
}
.para1{
    font-size: 70px;
    font-family:'Open Sans', sans-serif;
}
.para2{
    font-size: 30px;
    padding-top: 2%;
    font-family:'Open Sans', sans-serif;
}
.btn1{
    background-color: #55BA38;
    color: white;
    font-weight: bold;
    height: 50px;
    width: 230px;
    border-radius: 5px;
    border: none;
    margin-top: 2%;
    text-transform: uppercase;
}
/*end hearer*/
/*start some-work*/
.some-work{
    padding-top:100px;
    padding-bottom: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.some-work .sup-some{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.some-work h2{
color:#585858;
margin-bottom: 20px;
text-transform: capitalize;
font-weight: bold;
font-size: 40px;
font: bold 32px 'Open Sans', sans-serif;

}
.some-work p{
line-height: 1.7;
color:#777;
font-size: 20px;
margin-bottom: 40px;
font-family: Arial, Helvetica, sans-serif;
align-self: center;
}
.some-work hr{
    height: 4px;
    width: 200px;
    margin: auto;
    background-color:#55BA38;
}
/*end some-work*/
/*start photo*/
.photo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imges{
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.photo .imges .small{
    flex-shrink: 2;
    height: 310px;
    width: 430px;
    margin-bottom: 20px;
}
.photo .imges .larg{
    flex-grow:3;
   height: 310px;
   
}
/*end photo*/
/*start featuer*/
.featuer {
    padding: 100px 0;
    background-color:#f0f5f7;
    padding-bottom: 80px;
    text-align: center;
    margin-top:90px;
}
.featuer .para3{
    text-align: center;
    padding: 0 50px 80px;
}
.featuer h2{
    color:#585858;
margin-bottom: 20px;
text-transform: capitalize;
font-weight: bold;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7;
}

.featuer p{
    line-height: 1.7;
    color:#777;
    font-size: 20px;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}

.featuer hr{
    height: 4px;
    width: 200px;
    margin: auto;
    background-color:#55BA38;
}
#grid{
    display: flex;
   flex-direction: row;
    justify-content: space-around;
}
.fa, .far {
    font-size: 50px;
    color: #55BA38;
    margin-bottom: 25px;
}
 h4 {
    color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}
/*start featuer*/
/*start*/
.reviews {
    background-color: #fff;
    margin: 50px;
}
div h3.title {
    color: #414a4f;
    text-transform: capitalize;
    font: bold 32px 'Open Sans', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}
.reviews .quote {
    text-align: center;
    width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    margin: auto;

}
.reviews .author {
    font-size: 18px;
    margin-bottom: 50px;
    text-align: center;
}
/*end*/
/*start contact*/
.contact {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 100px;
}
h3.title {
    color: #414a4f;
    text-transform: capitalize;
    font: bold 32px 'Open Sans', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}
.contact p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}
hr {
    width: 150px;
    height: 2px;
    background-color: #55BA38;
    border: 0;
    margin-bottom: 80px;
}
.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 80%;
}
.contact form input {
    padding: 15px;
    flex: 1;
    margin-right: 30px;
    font-size: 18px;
    color: #555;
}
.contact form .btn {
    padding: 18px 42px;
}
a.btn {
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #55BA38;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
}
/*end contant*/
/*start footer*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #414a4f;
    padding: 60px 0;
}
footer .fontawsom {
    display: flex;
    margin-bottom: 25px;
    font-size: 32px;
    list-style: none;
}
footer a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255,255,255,0.6);
    margin-bottom: 10px;
}
footer p a{
    text-decoration: none;
    color:rgba(255,255,255,0.6);
    font-weight: bold;
}
/*end footer*/